.about{
    margin-top: 40px;
  &__wrapper{
    // display: flex;
    max-width: 960px;
    // flex-direction: row;
    // justify-content: space-between;
    // align-items: flex-start;
    margin: 0 auto 100px;
  }
  &__head {
    margin-bottom: 40px;
    font-size: 28px;
    text-transform: uppercase;
    text-align: center;
  }
  &__txt{
    // width: 45%;
    line-height: 1.5;
    font-size: 14px;
    &-header{
        font-size: 22px;
        margin-bottom: 10px;
    }
    img{
      width: 40%;
      float: right;
      margin: 0 0 10px 25px;
    }
  }
  &__img{
    cursor: pointer;
    margin-top: 10px;
    width: 40%;
    img{
      max-width: 100%;
    }
  }
}

@media (max-width: 800px) {
  .about {
    margin-top: 0;
}
  .about__wrapper{
      flex-direction: column;
      padding: 0 20px;
      margin-bottom: 40px;
  }
  .about__txt{
      width: 100%;
      img {
        float: none;
        width: 100%;
        margin: 20px auto;
      }
  }
  .about__img{
    width: 100%;
    text-align: center;
  }
}
