@import './colors.scss';

.bradcrumbs {
    height: 40px;
    background-color: $green;
    padding: 0 20px;
    &__list{
       margin: 0;
       list-style: none;
       display: flex;
       flex-direction: row;
       justify-content: flex-start;
       align-items: center;
       height: 40px;
       &-item{
           padding: 0;
           margin: 0 10px 0 0;
           color: $white;
           font-weight: 300;
           font-size: 14px;
       }
       &-link{
           color: rgba(255,255,255,.8);
           font-size: 14px;
           font-weight: 300;
           text-decoration: none;
           transition: all .1s;
           &:hover{
                color: $white;   
                text-decoration: none;
           }
           &:after{
               content: '/';
               display: inline-block;
               margin-left: 10px;
           }
       } 
    }
}

