@import "./colors.scss";

.card {
    width: 70%; 
    &_branch{
        width: 100%;
        .card__desc{
            width: 65%;
            font-size: 16px;
            line-height: 1.6;
            color: $gray;
            
        }
        .card__img{
            width: 30%;
            margin-top: 20px;
        }
    }
    &__wrapper {
        display: flex;
        justify-content: space-between;
        flex-direction: row;   
        border: 1px solid rgba(0,138,95,.3);
        border-top: 2px solid $green;
        padding-bottom: 40px;
        margin-top: 70px;
        position: relative;
        padding-right: 10px;
        &:after {
            content: '';
          
            position: absolute;
            left: -2px;
            bottom: -2px;
            width: 45px;
            height: 45px;
            background-image: url(../images/angl.svg);
            background-repeat: no-repeat;
            background-size: contain;
        }
    }
    &__literature-list{
        display: flex;
    }
    &__literature-item{
        width: 120px;
        margin-right: 20px;
        display: block;
        img{
            max-width: 100%;
        }
    }
    &__head{
        font-weight: 700;
        padding-bottom: 9px;
        font-size: 28px;
        border-bottom: 1px solid $green;
    }
    &__desc{
        width: 50%;
        font-size: 14px;
        white-space: pre-line;
        line-height: 1.6;
        color: $gray;
        
    }
    &__img-wrapper{
        width: 40%;
    }
    &__img{
        width: auto;
        height: 240px;
        border-bottom: 2px solid $green;
        margin-top: 50px;
        img{
            max-width: 100%;
        }
    }
    &__img-opt ul{
        // list-style: disc;
        margin-left: 20px;
        color: $green;
    }
    &__options{
        max-width: 436px;
        // border: 1px solid rgba(0,0,0,.3);
        // border-top: none;
        position: relative;
        // &:after {
        //     content: '';
          
        //     position: absolute;
        //     left: -2px;
        //     bottom: -2px;
            
        //     width: 30px;
        //     height: 30px;
        //     background-image: url(../images/angl.svg);
        // }
    }
    &__options-tabs{
        // border-bottom: 1px solid $green;
        margin-bottom: 30px;
        width: 650px;
        display: flex;
        justify-content: flex-start;
        margin-top: -40px;
        &-item{
            padding: 10px 15px;
            font-size: 14px;
            text-align: center;
            width: 25%;
            background-color: $white;
            border: 2px solid $green;
            border-bottom: none;
            margin-left: -1px;
            cursor: pointer;
            transition: all .3s;
            &:hover, 
            &.active{
                border-bottom-color: $green;
                background-color: $green;
                color: $white;
            }
        }
    }
    &__options-btn{
        width: 180px;
    }
    &__options-adr{
        margin-right: 20px;
        padding-bottom: 100px;
        background-image: url(../images/main-logo.png);
        background-repeat: no-repeat;
        background-position: 0 85%;
        width: 200px;
        background-size: 80%;

    }
    &__options-item {
        font-size: 14px;
        line-height: 1.4;
        color: $gray;
        display: none;
        padding-left: 20px;
        padding-right: 20px;
        position: relative;
        z-index: 10;
        &.active{
            display: block;
            &.card__options-item_contact{
                display: flex;
                flex-direction: row;
            }
        }
        ul{
            // list-style: disc;
            // margin-left: 20px;
            li {
                position: relative;
                padding-left: 20px;
                margin-bottom: 10px;
                &::before{
                    content: "";
                    position: absolute;
                    left: 0;
                    top: 50%;
                    margin-top: -5px;
                    width: 10px;
                    height: 10px;
                    background-image: url(../../src/images/shest.svg);
                    background-repeat: no-repeat;
                    
                }
                
            }
        }
    }
}

.card__btn{
    display: none;
}

@media (max-width: 800px) {
    .card{
        width: 100%;
        position: relative;
        &__head{
            border-bottom: none;
            padding: 0 20px;
            text-align: center;
            margin-bottom: 20px;
        }
    }
    .card_branch .card__img{width: auto;}
    .card__options{
        width: 100%;
        &::after{
            content: "";
            display: none;
        }
    }
    .card__btn{
        display: block;
        width: 280px;
        margin: 20px auto 40px;
    }
    .card__img-wrapper {
        width: 100%;
        order: -1;
    }
    .card__img{
        width: auto;
        height: auto;
        margin-bottom: 50px;
        border-bottom: none;
    }
    .card__wrapper{
        flex-direction: column;
        padding: 0 20px;
        margin-bottom: 40px;
    }
    .card__desc{
        width: 100%;
    }
    .card__options-tabs{
        flex-direction: column;
    }
}