@import "./colors.scss";

.card {
    width: 70%; 
    &_branch{
        width: 100%;
        .card__desc{
            width: 65%;
            font-size: 16px;
            line-height: 1.6;
            color: $gray;
            
        }
        .card__img{
            width: 30%;
            margin-top: 20px;
        }
    }
    &__wrapper {
        display: flex;
        justify-content: space-between;
        flex-direction: row;   
    }
    &__literature-list{
        display: flex;
    }
    &__literature-item{
        width: 120px;
        margin-right: 20px;
        display: block;
        img{
            max-width: 100%;
        }
    }
    &__head{
        font-weight: 700;
        padding-bottom: 10px;
        margin-bottom: 20px;
        font-size: 22px;
        border-bottom: 1px solid $green;
    }
    &__desc{
        width: 50%;
        font-size: 14px;
        white-space: pre-line;
        line-height: 1.6;
        color: $gray;
        
    }
    &__img-wrapper{
        width: 45%;
    }
    &__img{
        width: auto;
        height: 300px;
        border-bottom: 1px solid $green;
        margin-bottom: 20px;
        img{
            max-width: 100%;
        }
    }
    &__img-opt ul{
        list-style: disc;
        margin-left: 20px;
        color: $green;
    }
    &__options-tabs{
        border-bottom: 1px solid $green;
        margin-bottom: 20px;
        display: flex;
        justify-content: flex-start;
        &-item{
            padding: 10px 15px;
            font-size: 12px;
            text-align: center;
            border-bottom: 1px solid transparent;
            cursor: pointer;
            transition: all .3s;
            &:hover, 
            &.active{
                border-bottom-color: $green;
                background-color: $green;
                color: $white;
            }
        }
    }
    &__options-btn{
        width: 180px;
    }
    &__options-adr{
        margin-right: 20px;
        padding-bottom: 60px;
        background-image: url(../images/main-logo.png);
        background-repeat: no-repeat;
        background-position: 0 85%;
        width: 200px;
        background-size: 80%;

    }
    &__options-item {
        font-size: 14px;
        line-height: 1.4;
        color: $gray;
        display: none;
        padding-left: 40px;
        height: 160px;
        
        &.active{
            display: block;
            &.card__options-item_contact{
                display: flex;
                flex-direction: row;
            }
        }
        p{
          padding-left: 40px;
        }
        ul{
            list-style: disc;
            margin-left: 20px;
        }
    }
}

.card__btn{
    display: none;
}

@media (max-width: 800px) {
    .card{
        width: 100%;
        position: relative;
        &__head{
            border-bottom: none;
            padding: 0 20px;
            text-align: center;
            margin-bottom: 20px;
        }
    }
    .card__btn{
        display: block;
        width: 280px;
        margin: 20px auto 40px;
    }
    .card__img-wrapper {
        width: 100%;
        order: -1;
    }
    .card__img{
        width: auto;
        height: auto;
        margin-bottom: 50px;
        border-bottom: none;
    }
    .card__wrapper{
        flex-direction: column;
        padding: 0 20px;
        margin-bottom: 40px;
    }
    .card__desc{
        width: 100%;
    }
    .card__options-tabs{
        flex-direction: column;
    }
}