@import "./colors.scss";
.carusel{
    position: relative;
    &_about{
        margin-bottom: 100px;
        .carusel__slide{
            height: 200px;
            width: 250px;
            overflow: visible;
            margin: auto;
            img{
                max-height: 100%;
            }
        }
    }
    &__slide{
        height: 400px;
        overflow: hidden;
        position: relative;
        &-desc{
            position: absolute;
            top: 40%;
            left: 50%;
            color: $white;
            z-index: 20;
            transform: translate(-50%, 0);
        }
        &-head{
            font-size: 28px;
            font-weight: 700;
            margin-bottom: 20px;
        }
        &-txt{
            width: 60%;
            line-height: 1.4;
        }
    }
    &:hover{
        .owl-nav button.owl-prev,    
        .owl-nav button.owl-next {
            opacity: 1 !important;
        }    
    }
    .owl-dots{
        position: absolute;
        bottom: 20px;
        left: 50%;
        transform: translate(-50%, 0);
        button.owl-dot{
            width: 10px;
            height: 10px;
            border-radius: 50%;
            border: 2px solid $white;
            margin-right: 5px;
            &.active{
                background-color: $white;
            }
        }
    }
    .owl-nav button.owl-prev{
        position: absolute;
        top: 50%;
        left: 5%;
        padding: 10px !important;
        border-radius: 50%;
        background-color: $black !important;
        opacity: 0 !important;
        transition: opacity .3s;
        &:hover,
        &:focus{
            outline: none;
        }
        span {
            display: block;
            background-image: url(../images/arrow.png);
            background-repeat: no-repeat;
            background-size: contain;
            background-position: 50%;
            font-size: 0;
            width: 20px;
            height: 20px;
        }
    }
    .owl-nav button.owl-next{
        position: absolute;
        top: 50%;
        right: 5%;
        padding: 10px !important;
        border-radius: 50%;
        background-color: $black !important;
        opacity: 0 !important;
        transition: opacity .3s;
        &:hover,
        &:focus{
            outline: none;
        }
        span{
            display: block;
            background-image: url(../images/arrow.png);
            background-repeat: no-repeat;
            background-size: contain;
            background-position: 50%;
            transform: rotate(180deg);
            font-size: 0;
            width: 20px;
            height: 20px;
        }
    }
}

@media (max-width: 800px) {
    .carusel{
        &__slide{
            height: 300px;
            overflow: hidden;
            position: relative;
            img{
                width: auto !important;
            }
            &-desc{
                position: absolute;
                top: 10%;
                left: 10%;
                color: $white;
                z-index: 20;
                transform: translate(0, 0);
            }
            &-head{
                font-size: 22px;
                font-weight: 700;
                margin-bottom: 20px;
            }
            &-txt{
                width: 100%;
                line-height: 1.4;
            }
        }
    }   
}