@import './colors.scss';


.checkbox{
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    overflow: hidden;
    &__input{
        width: 1px;
        height: 1px;
        overflow: hidden;
        clip: rect(0 0 0 0);
        display: block;
        margin-left: -1px;
        &:checked + .checkbox__img{
            background-image: url(../images/check.svg);
            background-repeat: no-repeat;
            background-size: 80%;
            background-position: 50%;
        }
    }
    &__img {
        width: 20px;
        min-width: 20px;
        height: 20px;
        border-radius: 4px;
        border: 1px solid $green;
        margin-right: 10px;
    }
    &__text {
      color: $blue;
    }
}
