@import "./colors.scss";

html {
    box-sizing: border-box;
    height: 100%;
  }
  
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }

body{
    font-family: 'Roboto', sans-serif;
    height: 100%;
}

.wrapper{
  max-width: 1140px;
  margin: auto;
}

.z{
  min-height: 100%;
  padding-bottom: 100px;
  margin-bottom: -70px;
  padding-top: 139px;
}

.page-header {
  font-weight: 700;
  padding-bottom: 10px;
  margin-bottom: 20px;
  margin-top: 40px;
  font-size: 22px;
  text-transform: uppercase;
}

ul{
  // list-style: url(../images/shest.svg);
}

@media (max-width: 800px) {
  
  .page-header{
    padding: 0 40px;
    margin-top: 0;
  }
}