.contacts{
  &__wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  &__list{
    width: 25%;
    p {
      &:first-child{
        font-weight: 700;
      }
    }
  }
  &__map{
    width: 65%;
  }
  &__item{
    font-size: 16px;
    line-height: 1.4;
    margin-bottom: 10px;
    position: relative;
    padding-left: 40px;
    &_location{
      &:after{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        background-image: url(../images/location.svg);
        background-repeat: no-repeat;
        background-size: contain;
        width: 15px;
        height: 15px;
      }
    }
    &_mail{
      &:after{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        background-image: url(../images/envelop.svg);
        background-repeat: no-repeat;
        background-size: contain;
        width: 15px;
        height: 15px;
      }
    }
    &_phone{
      &:after{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        background-image: url(../images/phone-black.svg);
        background-repeat: no-repeat;
        background-size: contain;
        width: 15px;
        height: 15px;
      }
    }
    &_divider{
      margin-top: 40px;
    }
    a{
      font-weight: 700;
    }
  }
  
}

@media (max-width: 960px) {
  .contacts__wrapper{
    padding: 0 40px;
  }
  .contacts__map {
    width: 48%;
  }
  .contacts__list{
    width: 48%;
  }
}
@media (max-width: 800px) {
  .contacts__wrapper {
    flex-direction: column;

  }
  .contacts__map,
  .contacts__list{
    width: 100%;
    margin-bottom: 40px;
  }
}