@import './colors.scss';

.header {
    height: 90px;
    background-color: #fff;
    box-shadow: 4px 0 20px -5px rgba(0, 0, 0, 0.1);
    padding:  0 20px;
    &__wrapper{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        height: inherit;
    }
    &__logo{
        width: 190px;
        height: 67px;
        background-image: url(../images/main-logo.png);
    }
}


@media (min-width: 800px) {
    .header{
        padding:  0;       
    }   
}