@import './colors.scss';

.header {
    background-color: #fff;
    padding:  20px 20px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    &__btns{
        display: none;
        flex-direction: row;
        justify-content: flex-start;
        .btn{
            margin-left: 10px;
        }
    }
    &__phone {
        position: relative;
        display: none;
        margin-top: 20px;
        &-item {
            margin-bottom: 5px;
            span{
                font-size: 13px;
                margin-left: 5px;
            }
        }
        &-link{
            font-size: 20px;
            font-weight: 700;
            color: $blue;
            text-decoration: none;
            margin-bottom: 5px;
            span {
                font-weight: 300;
                font-size: 14px;
            }
            &:hover{
                color: $black;
                text-decoration: none;
            }
        }
        &-btn{
            margin-left: 10px;
            position: relative;
            font-size: 14px;
            padding-left: 40px;
            &::before{
                content: '';
                position: absolute;
                top: 50%;
                transform: translateY(-12px);
                // border: 1px solid $green;
                border-radius: 50%;
                left: 10px;
                width: 20px;
                height: 20px;
                vertical-align: middle;
                background-image: url('../images/phone.svg');
                background-repeat: no-repeat;
                background-size: 80%;
                background-position: 50%;
            }
        }

    }
    &__mail{
        position: relative;
        &-btn{
            margin-left: 10px;
            position: relative;
            font-size: 14px;
            padding-left: 40px;
            &::before{
                content: '';
                position: absolute;
                top: 50%;
                transform: translateY(-12px);
                // border: 1px solid $green;
                border-radius: 50%;
                left: 10px;
                width: 20px;
                height: 20px;
                vertical-align: middle;
                background-image: url('../images/envelop-white.svg');
                background-repeat: no-repeat;
                background-size: 80%;
                background-position: 50%;
            }
        }
    }
    &__wrapper{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        height: inherit;
    }
    &__logo{
        width: 190px;
        height: 67px;
        background-image: url(../images/main-logo.png);
        background-size: contain;
        background-repeat: no-repeat;
        &-link{
            display: block;
            height: 67px;
        }
    }
}


@media (min-width: 800px) {
    .header{
        padding: 10px 20px 0;

        //height: 90px;
       // box-shadow: 4px 0 20px -5px rgba(0, 0, 0, 0.1);
       border-bottom: 1px solid $green;
       &__btns{
        display: flex;
       }
       &__phone{
        display: block;
       }
        &__menu{
            max-width: 1140px;
            margin: auto;
            margin-top: 30px;
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
        }
    }
}
