@import './colors.scss';

.header {
    background-color: #fff;
    padding:  0 20px;
    &__phone {
        position: relative;
        &-item {
            margin-bottom: 5px;
            span{
                font-size: 13px;
                margin-left: 5px;
            }
        }
        &-link{
            font-size: 14px;
            color: $black;
            text-decoration: none;
            margin-bottom: 5px;
            &:hover{
                color: $black;
                text-decoration: none;
            }
        }
        &-btn{
            margin-left: 10px;
            position: relative;
            font-size: 14px;
            padding-left: 40px;
            &::before{
                content: '';
                position: absolute;
                top: 50%;
                transform: translateY(-12px);
                // border: 1px solid $green;
                border-radius: 50%;    
                left: 10px;
                width: 20px;
                height: 20px;
                vertical-align: middle;
                background-image: url('../images/phone.svg');
                background-repeat: no-repeat;
                background-size: 80%;
                background-position: 50%;
            }
        }
        
    }
    &__wrapper{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        height: inherit;
    }
    &__logo{
        width: 190px;
        height: 67px;
        background-image: url(../images/main-logo.png);
    }
}


@media (min-width: 800px) {
    .header{
        padding: 10px  0 0;
        //height: 90px;
       // box-shadow: 4px 0 20px -5px rgba(0, 0, 0, 0.1); 
       border-bottom: 1px solid $green;
        &__menu{
            max-width: 1140px;
            margin: auto;
            margin-top: 30px;
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
        }     
    }   
}