@import './colors.scss';

.input-txt{
    border: 1px solid $gray;
    padding: 10px 20px;
    font-size: 14px;
    border-radius: 6px;
    width: 100%;
}

.input__line{
    width: 100%;
    margin: 10px;
}

.input-txt::-webkit-input-placeholder       {opacity: 1; transition: opacity 0.3s ease;}
.input-txt::-moz-placeholder                {opacity: 1; transition: opacity 0.3s ease;}
.input-txt:-moz-placeholder                 {opacity: 1; transition: opacity 0.3s ease;}
.input-txt:-ms-input-placeholder            {opacity: 1; transition: opacity 0.3s ease;}
.input-txt:focus::-webkit-input-placeholder {opacity: 0; transition: opacity 0.3s ease;}
.input-txt:focus::-moz-placeholder          {opacity: 0; transition: opacity 0.3s ease;}
.input-txt:focus:-moz-placeholder           {opacity: 0; transition: opacity 0.3s ease;}
.input-txt:focus:-ms-input-placeholder      {opacity: 0; transition: opacity 0.3s ease;}