.options{
    margin: 40px 0;
    .wrapper{
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
    }
    &__item{
        text-align: center;
        width: 20%;
        min-width: 175px;
        margin: 0 10px 20px;
        cursor: pointer;
        background-color: #eee;
        transition: all 0.3s;
        &:hover{
          box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.26);
        }
        &-img{
            width: 100px;
            height: 120px;
            margin: 0 auto 20px;
        }
        &_1{
            background-image: url(../../assets/images/main-icon2.svg);
            background-size: 80%;
            background-repeat: no-repeat;
            background-position: 50%;
        }
        &_2{
            background-image: url(../../assets/images/main-icon3.svg);
            background-size: 80%;
            background-repeat: no-repeat;
            background-position: 50%;
        }
        &_3{
            background-image: url(../../assets/images/main-icon1.svg);
            background-size: 80%;
            background-repeat: no-repeat;
            background-position: 50%;
        }
        &_4{
            background-image: url(../../assets/images/main-icon4.svg);
            background-size: 80%;
            background-repeat: no-repeat;
            background-position: 50%;
        }
    }
}
