.service{
    margin-top: 40px;
    &__btn{
      display: block;
      width: 280px;
      margin: 20px auto 40px;
    }
  &__wrapper{
    display: flex;
    max-width: 960px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto 40px;
  }
  &__form {
    padding: 0 40px;
  }
  &__head {
    margin-bottom: 40px;
    font-size: 28px;
    text-transform: uppercase;
    text-align: center;
  }
  &__txt{
    width: 45%;
    line-height: 1.5;
    font-size: 14px;
    &-header{
        font-size: 22px;
        margin-bottom: 10px;
    }
  }
  &__img{
    cursor: pointer;
    margin-top: 10px;
    width: 50%;
    overflow: hidden;
    max-height: 300px;
    img{
      max-width: 100%;
    }
  }
  &__prod{
    margin: 40px 0;
    .wrapper{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: top;
    }
    &-img{
      width: 45%;
      display: flex;
      align-items: center;
      justify-items: center;
      min-height: 100%;
      img{
        max-width: 90%;
      }
    }
    &-txt{
      width: 45%;
      font-size: 14px;
    }
  }
}


@media (max-width: 800px) {
  .service{
    margin-top: 0;
  }
  .service__wrapper{
      flex-direction: column;
      padding: 0 20px;
      margin-bottom: 40px;
  }
  .service__txt{
      width: 100%;
  }
  .service__img{
    width: 100%;
    text-align: center;
  }
  .service__prod-img{
    width: 75%;
  }
  .service__prod-txt{
    width: 85%;
  }
}

@media (max-width: 560px) {
  .service__form {
    .form__line{
      flex-direction: column;
    }
  }
}
