.service{
    margin-top: 40px;
    &__btn{
      display: block;
      width: 280px;
      margin: 20px auto 40px;
    }
  &__wrapper{
    display: flex;
    max-width: 960px;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin: 0 auto 100px;
  }
  &__form {
    padding: 0 40px;
  }
  &__head {
    margin-bottom: 40px;
    font-size: 28px;
    text-transform: uppercase;
    text-align: center;
  }
  &__txt{
    width: 45%;
    line-height: 1.5;
    &-header{
        font-size: 22px;
        margin-bottom: 10px;
    } 
  }
  &__img{
    cursor: pointer;
    margin-top: 10px;
    width: 50%;
    overflow: hidden;
    max-height: 400px;
    // img{
    //   max-width: 100%;
    // }
  }
}    


@media (max-width: 800px) {
  .service{
    margin-top: 0;
  }
  .service__wrapper{
      flex-direction: column;
      padding: 0 20px;
      margin-bottom: 40px;
  }
  .service__txt{
      width: 100%;
  }
  .service__img{
    width: 100%;
    text-align: center;
  }
}

@media (max-width: 560px) {
  .service__form {
    .form__line{
      flex-direction: column;
    }
  }
}
 