@import './normalize.scss';
@import './common.scss';
@import './btns.scss';

@import '../../node_modules/owl.carousel/dist/assets/owl.carousel.css';

@import './header.scss';
@import './menu.scss';
@import './footer.scss';
@import './bradcrumbs.scss';
@import './catalog.scss';
@import './card.scss';
@import './contacts.scss';
@import './carusel.scss';
@import './sert.scss';
@import './modal.scss';
@import './checkbox.scss';
@import './input.scss';
@import './form.scss';
@import './about.scss';
@import './docs.scss';
@import './service.scss';
@import './snopd.scss';
@import './preloader.scss';
@import './options.scss';
@import './404.scss';




